In [1]:
import pandas as pd

In [22]:
removals_report = pd.read_csv("removals_feb_april.csv")

In [35]:
removals_report["request-date"] = pd.to_datetime(removals_report["request-date"], utc=True)

In [24]:
removals_report.head(2)

,request-date,order-id,order-type,order-status,last-updated-date,sku,fnsku,disposition,requested-quantity,cancelled-quantity,disposed-quantity,shipped-quantity,in-process-quantity,removal-fee,currency
0,2023-04-05 18:01:19-07:00,wpustWnkYU,Return,Pending,2023-04-06T02:02:45-07:00,TW105_B,B09W9TW8VM,Unsellable,1,0,NaN,0.0,1,NaN,NaN
1,2023-04-05 18:01:19-07:00,wpustWnkYU,Return,Pending,2023-04-06T02:02:45-07:00,TW104_B,B09W9VWZD3,Unsellable,5,0,NaN,1.0,4,NaN,NaN

In [25]:
removals_report["sku"] = removals_report["sku"].astype("category")
removals_report["disposition"] = removals_report["disposition"].astype("category")

In [26]:
mask = removals_report["order-type"] == "Return"

In [28]:
removals_report = removals_report[mask]

/var/folders/9y/_mfjgr597qbcchk76pm4jfv80000gn/T/ipykernel_77323/687020487.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  removals_report = removals_report[mask]

In [41]:
after = removals_report["request-date"] >= '2023-03-29'
before = removals_report["request-date"] < '2023-03-29'

In [43]:
before_report = removals_report[before]
after_report = removals_report[after]

In [58]:
before_report_by_sku = before_report.groupby('sku')["requested-quantity"].agg('sum')
after_report_by_sku = after_report.groupby('sku')["requested-quantity"].agg('sum')

In [61]:
after_report_by_sku.to_csv("after.csv")
before_report_by_sku.to_csv("before.csv")